<!DOCTYPE html>
<html>
<head>
    <title>Patient Records</title>
</head>
<body>
    <h2>Patient Records</h2>
    <table border = "1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Diagnosis</th>
        </tr>
        <tr>
            <td>001</td>
            <td>Tyler Huynh</td>
            <td>04/28/2003</td>
            <td>Hypertension</td>
        </tr>
        <tr>
            <td>002</td>
            <td>Peter Parker</td>
            <td>08/10/2001</td>
            <td>Spinal Fracture</td>
        </tr>
        <tr>
            <td>003</td>
            <td>Yuji Itadori</td>
            <td>03/20/2003</td>
            <td>Asthma</td>
        </tr>
    </table>
</body>
</html>