<!DOCTYPE html>
<html>
<head>
    <title>Case Files</title>
</head>
<body>
    <h2>Case Files</h2>
    <table border = "1">
        <tr>
            <th>Case ID</th>
            <th>Client</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>C-1042</td>
            <td>Queen Industries</td>
            <td>Corporate Acquisition</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>C-1038</td>
            <td>Oscorp LLC</td>
            <td>IP Dispute</td>
            <td>Pending</td>
        </tr>
        <tr>
            <td>C-1031</td>
            <td>Foggy Nelson</td>
            <td>Employment</td>
            <td>Closed</td>
        </tr>
    </table>
</body>
</html>