<!DOCTYPE html>
<html>
<head>
    <title>Client List</title>
</head>
<body>
    <h2>Client List</h2>
    <table border = "1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Contact</th>
            <th>Case ID</th>
        </tr>
        <tr>
            <td>001</td>
            <td>Queen Industries</td>
            <td>Corporate</td>
            <td>o.queen@queen-ind.com</td>
            <td>C-1042</td>
        </tr>
        <tr>
            <td>002</td>
            <td>Oscorp LLC</td>
            <td>IP</td>
            <td>ceo@oscorp.io</td>
            <td>C-1038</td>
        </tr>
        <tr>
            <td>003</td>
            <td>Foggy Nelson</td>
            <td>Individual</td>
            <td>f.nelson@gmail.com</td>
            <td>C-1031</td>
        </tr>
    </table>
</body>
</html>